{% if site.show_post_dates %}
<span>{{ article.date | date: "%b %-d, %Y" }}</span>
{% endif %}
<div>hi {{ article | inspect }}</div>
{% if article.amazon %}
<div class="external-link"><a class="no-underline" target="_blank" href="{{ article.amazon }}"><i class="fas fa-external-link-alt"></i>View on Amazon</a></div>
{% endif %}
{% if article.external %}
<div class="external-link"><a class="no-underline" target="_blank" href="{{ article.external }}"><i class="fas fa-external-link-alt"></i>View Original</a></div>
{% endif %}