@import 'font-awesome';
@import "normalize";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: #{$small-breakpoint}) and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin tiny {
  @media screen and (max-width: #{$small-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body, .main-content{
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
.menu-toggle{
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  @include large {
    display: block;
  }

  @include medium {
    display: block;
  }
}

.page-header {
  background: #ffffff;
  color: $header-heading-color;
  text-align: center;
  position: fixed;
  top: 0px;
  height: 40px;
  width: 100%;
  font-size: 0.8em;
  padding: 0px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.18);
  z-index: 1000;

  @include large {
    height: 100%;
    padding: 10px;
    width: 250px;
    box-shadow: none;
  }

  @include medium {
    height: 100%;
    padding: 10px;
    width: 250px;
    box-shadow: none;
  }

  &.active-mobile-menu{
    width: 100%;

    .menu-toggle{
      display: block;
      background: #ffffff;
      position: fixed;
      top: 40px;
      width: 100%;
      z-index: 1000;
      height: 100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .site-footer{
      bottom: 50px;
    }
  }
}

.site-title {
  margin-top: 2px;
  margin-bottom: 0.1rem;
  font-size: 1.5rem;

  @include large {
    font-size: 2.5rem;
  }

  @include medium {
    font-size: 2.5rem;
  }

  a, a:hover, a:visited, a:active {
    color: $header-heading-color;
    text-decoration: none;
  }
}

.site-description {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}
#masonry { /* Masonry container */
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0.5em;
    -webkit-column-gap: 0.5em;
    column-gap: 0.5em;

    @include large {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      -moz-column-gap: 1em;
      -webkit-column-gap: 1em;
      column-gap: 1em;
    }

    @include medium {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      -moz-column-gap: 0.75em;
      -webkit-column-gap: 0.75em;
      column-gap: 0.75em;
    }

    @include small {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      -moz-column-gap: 0.75em;
      -webkit-column-gap: 0.75em;
      column-gap: 0.75em;
    }
}

.mobile {
  display: block;

  @include large {
    display: none;
  }

  @include medium {
    display: none;
  }
}

.menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;

  path {
    fill: $header-heading-color;
  }
}

.feed-item { /* Masonry bricks or child elements */
    background: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    display: inline-block;
    margin: 0 0 1em;
    padding: 0px 15px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    .feed-title {
      h3 {
        margin-top: 1rem;
      }
    }

    .post-meta {
      .post-date {
        font-size: 0.8em;
        display: inline-block;
      }
      .external-link {
        display: inline-block;
        margin-left: 10px;
      }
    }

    .permalink {
      text-align: right;
      margin-bottom: 10px;
    }
}

.post-wrapper{
  background: #ffffff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  padding: 25px;
  max-width: 800px;
  margin: 0px auto;

  .post {
    .post-header {
      position: relative;
    }
    .post-title {
      margin-top: 0px;
    }
    .post-meta {
      .post-date {
        font-size: 0.8em;
        margin-bottom: 5px;
        display: inline-block;
      }
      .external-link {
        display: inline-block;
        margin-left: 10px;
      }
      .permalink {
        position: absolute;
        right: 0px;
        top: 0px;

      }
    }
  }
}

.main-content {
  background: #ececec;
  margin-left: 0px;
  margin-top: 40px;
  padding: 10px;
  word-wrap: break-word;
  font-size: 0.9rem;

  @include large {
    padding: 30px;
    margin-left: 250px;
    margin-top: 0px;
  }

  @include medium {
    padding: 25px;
    margin-left: 250px;
    margin-top: 0px;
  }

  @include small {
    padding: 15px;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    cite{
      display: block;
      margin-top: 20px;
      font-size: 0.7em;

      &:before {
        content: "-";
        padding-right: 10px;
      }
    }
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 1rem;
  margin: 0px;
  border-top: solid 1px $hr-border-color;
  position: absolute;
  bottom: 20px;
  left: 0px;
  font-size: 0.9em;
  width: 100%;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.category-list {
  .category {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
}
.no-underline {
  text-decoration: none;
  border-bottom: none;
}
.external-link{
  font-size: 0.7em;

  i {
    margin-right: 5px;
  }
}

.post-categories{
  display: inline-block;
  
  span {
    margin-right: 10px;

    a{
      color: #ffffff;
      background-color: #a5a5a5;
      padding: 2px 0px 2px 10px;
      text-decoration: none;
      font-size: 0.7em;

      &:after {
        content: " ";
        position: relative;
        top: 5px;
        left: 8px;
        height: 0;
        width: 0;
        display: inline-block;
        border-top: 8px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 8px solid #a5a5a5;
      }
    }
  }
}